<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
</head>
 
<body>
    <div class="">
        <div class="header">
            <nav class="navbar navbar-expand-sm bg-light">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="showLogin">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="showSignUp">Sign Up</a>
                </li>
              </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>Welcome to My web</h1>
            <h4>Alpha Test v.01</h4>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
        <div class="container">
            <div class="row marketing">
                <div class="col-lg-6">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, error explicari posidonium est te. An habeo nonumy atomorum mel. Clita scripserit te sed. An per clita dolores, vero maiestatis per an. Duo no autem eleifend, ei lucilius abhorreant vis. Ad aliquip omittantur nec, te maiorum lobortis eum, pro vitae veniam tincidunt id.</p>
     
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, error explicari posidonium est te. An habeo nonumy atomorum mel. Clita scripserit te sed. An per clita dolores, vero maiestatis per an. Duo no autem eleifend, ei lucilius abhorreant vis. Ad aliquip omittantur nec, te maiorum lobortis eum, pro vitae veniam tincidunt id.</p>
     
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, error explicari posidonium est te. An habeo nonumy atomorum mel. Clita scripserit te sed. An per clita dolores, vero maiestatis per an. Duo no autem eleifend, ei lucilius abhorreant vis. Ad aliquip omittantur nec, te maiorum lobortis eum, pro vitae veniam tincidunt id.</p>
                </div>
     
                <div class="col-lg-6">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, error explicari posidonium est te. An habeo nonumy atomorum mel. Clita scripserit te sed. An per clita dolores, vero maiestatis per an. Duo no autem eleifend, ei lucilius abhorreant vis. Ad aliquip omittantur nec, te maiorum lobortis eum, pro vitae veniam tincidunt id.</p>
     
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, error explicari posidonium est te. An habeo nonumy atomorum mel. Clita scripserit te sed. An per clita dolores, vero maiestatis per an. Duo no autem eleifend, ei lucilius abhorreant vis. Ad aliquip omittantur nec, te maiorum lobortis eum, pro vitae veniam tincidunt id.</p>
     
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, error explicari posidonium est te. An habeo nonumy atomorum mel. Clita scripserit te sed. An per clita dolores, vero maiestatis per an. Duo no autem eleifend, ei lucilius abhorreant vis. Ad aliquip omittantur nec, te maiorum lobortis eum, pro vitae veniam tincidunt id.</p>
                </div>
            </div>
        </div>

        <hr>
        <footer class="footer">
            <center><p>&copy;yosrio</p></center>
        </footer>
 
    </div>
</body>
 
</html>
